body { 
    margin: 15px 30px 25px 30px;
    font-size: 2rem;
    letter-spacing: 3px;
    background-color: black;
    color: aqua;
}
/* THE MAIN TITLE */
#h1 {
    border: 3px black solid;
    outline: 1px violet solid;
    width: 60%;
    height: auto;
    font-size: 1.5rem;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: aqua;
    color: black;
}
/* GENERIC FORMATTING FOR ALL <P> ELEMENTS */
p, #inputs1 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-family: 'Shadows Into Light', cursive;
}
/* IMAGE:    THE MIDPOINT FORMULA  */
#midpointFormulaImg {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: -30px;
}
/* IMAGE: DR FOR SICK DAY */
#sickDay {
    width: 10%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
}
/* TEXT: "RULE" */
#rule {
    border: 1px black solid;
    outline: 1px violet solid;
    width: 60%;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -40px;
    background-color: aqua;
    color: black;
}
#p1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Shadows Into Light', cursive;
}
#pic1, #pic2, #pic3 {
    border: 1px black solid;
    outline: 2px violet solid;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
iframe {
    margin: 15px 33% 15px 33%;
    border: 1px black solid;
    outline: 2px violet solid;
}
footer {
    font-size: 1rem;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: violet;
}

/* COLORS:
AQUA
violet
LIGHTBLUE
WHITE
*/